{
  "parserOpts":{
    "plugins":["decorators", "classProperties"]
  },
  "passPerPreset": true,
  "presets": [
    {
      "plugins": ["transform-regenerator"]
    },
    {
      "plugins": ["../../../src"]
    }
  ]
}
